<div>
    <button (click)="loadSpine(spineModels.layla)">Layla</button>
    <button (click)="loadSpine(spineModels.cat_female)">Cat</button>
    <button (click)="loadSpine(spineModels.box)">Box</button>
    <button (click)="loadSpine(spineModels.question2)">Question 2</button>
    <button (click)="loadSpine(spineModels.question2_selection)">Question 2 Selection</button>
    <button (click)="loadSpine(spineModels.question3)">Question 3</button>
    <button (click)="loadSpine(spineModels.question3_openbox)">Question 3 OpenBox</button>
</div>
<div id="main">
    <div id="player-container" style="width: 800px; height: 800px;"></div>
</div>