<div class="container-step">
	<div class="progress-container">
	  <div class="progress" id="progress"></div>
	  <div class="circle active">
		<i class="icon fa-solid fa-transgender" (click)="onClickIcon($event, 1)"></i>
  
		<!-- <div class="caption">ghost</div> -->
	  </div>
	  <div class="circle">
		<i class="icon fa-solid fa-signature" (click)="onClickIcon($event, 2)"></i>
  
		<!-- <div class="caption">cat</div> -->
	  </div>
	  <div class="circle">
		<i class="icon fa-solid fa-cake-candles" (click)="onClickIcon($event, 3)"></i>
  
		<!-- <div class="caption">spider</div> -->
	  </div>
	  <div class="circle">
		<i class="icon fa-solid fa-location-dot" (click)="onClickIcon($event, 4)"></i>
  
		<!-- <div class="caption">skull</div> -->
	  </div>

	  <div class="circle">
		<i class="icon fa-solid fa-diamond" (click)="onClickIcon($event, 5)"></i>
  
		<!-- <div class="caption">skull</div> -->
	  </div>
	</div>

    <!-- <button class="btn" id="prev" [disabled]="disabledPrev" (click)="onPrev()">Prev</button>
    <button class="btn" id="next" [disabled]="disabledNext" (click)="onNext()">Next</button> -->
</div>