$c4u-primary: #eed583;
$white: #F6F7FA;
$white-2: #E8E8E8;
$light-gray: #F3F3F3;
$light-gray-2: #F9F9FA;
$gray: #BEBEBE;
$gray-2: #8B8B8B;
$black-gray: #040A01;
$error: #CC5239;

// Status
$status-green-background: #E9F7D9;
$status-green-text: #429116;
$status-green-border: #429116;
$status-red-background: #FDF1EB;
$status-red-text: #CC5239;
$status-red-border: #FFB5A6;
$status-yellow-background: #FBF7EA;
$status-yellow-text: #E0B018;
$status-yellow-border: #FDE187;