@import "variables";

:host {
    display: -webkit-box;
}

.left-panel {
    width: 270px;
    height: 100vh;
}

.right-content {
    width: calc(100vw - 270px);
    display: flex;
    // display: block;
    // scroll-snap-type: y mandatory;
    // overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
    box-shadow: -6px 0 73px -66px black;
    background: whitesmoke;
    .box {
        width: 85vh;
        height: 90%;
        scroll-snap-type: y mandatory;
        overflow: hidden;
        background: white;
        margin: auto;
        border-radius: 25px;
        box-shadow: 0 0 20px -15px black;
        font-size: 1.8rem;
        -webkit-transition: width 500ms ease-in-out;
        -moz-transition: width 500ms ease-in-out;
        -o-transition: width 500ms ease-in-out;
        transition: width 500ms ease-in-out;
    }
    .multiple-question {
        width: 130vh;
    }
}

// input {
//     background: none;
//     font-size: 3rem;
//     border-radius: 40px;
//     padding: 10px 18px;
//     color: white;
//     outline: 5px solid white;
//     border: none;
// }

// input::placeholder {
//     color: white;
// }

section {
    height: 100%;
    // width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #6f6f6f;
    scroll-snap-align: start;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
    font-size: 1.2rem;
}

.question {
    // font-size: 3rem;
    height: 20%;
    // display: grid;
    // place-items: center;
    margin-bottom: 2rem;
    line-height: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid #f3f3f3;
    // text-align: center;
    .question-info {
        p:first-child {
            font-style: italic;
            color: black;
            font-size: 1rem;
            font-weight: 500;
        }
        p:last-child {
            font-size: 1.8rem;
            color: $c4u-primary;
            font-weight: 500;
        }
    }
    .title {
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
    }
}

.answer-single {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 65%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    // overflow-y: auto;
    .item-answer {
        // font-size: 2rem;
        line-height: 1;
        margin: 20px 0;
        width: 100%;
        text-align: center;
        cursor: pointer;
        width: 100%;
        padding: 20px 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 3px 1px #eeeeee;
    }
    .item-answer:hover {
        outline: 1px solid $c4u-primary;
    }
    .item-answer-color {
        line-height: 1;
        margin: 20px;
        cursor: pointer;
        padding: 15px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
    }
    .selected-color {
        outline: 2px solid black;
    }
    .selected {
        background: $c4u-primary;
        color: black;
    }
}

.answer-multiple {
    // display: flex;
    flex-direction: row;
    width: 75%;
    height: 52%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    .item-answer {
        // font-size: 2rem;
        line-height: 1;
        float: left;
        padding: 0.6rem 1rem;
        outline: 1px solid #dadada;
        border-radius: 5px;
        margin: 7px;
        cursor: pointer;
        box-shadow: 2px 2px 3px 1px #eeeeee;
    }
    .item-answer:hover {
        outline: 1px solid $c4u-primary;
    }
    .selected {
        background: $c4u-primary;
        color: black;
    }
    // .check-box {
    //     width: 50px;
    //     height: 50px;
    //     border: 1px solid black;
    //     border-radius: 10px;
    //     font-size: 2.4rem;
    //     display: grid;
    //     place-items: center;
    //     position: absolute;
    //     top: 50%;
    //     left: 0;
    //     transform: translate(0, -50%);
    //     cursor: pointer;
    // }
}

.next-button {
    font-size: 3rem;
    border: 7px solid white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: grid;
    place-items: center;
    background: $c4u-primary;
    position: absolute;
    bottom: 5%;
    left: 46.5vw;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    margin-left: 8%;
    i {
        color: white;
    }
}

// Materialize Css
mat-form-field {
    font-size: 2rem;
    width: 500px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

::ng-deep {
    mat-form-field {
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}